html, body
{
    margin: 0%;
    padding: 0%;
    height: 100%;
}

.grid-container
{   
    padding: 7%;
    gap: 3%;
    display: grid;
    /* grid-template-columns: auto auto au; */
    grid-template-rows: .5fr 2fr .5fr;
    background-color: rgb(45 48 65);
    grid-template-areas: "header header header"
    ". body body"
    "footer footer footer";
    align-content: space-around;
    
    
    
   
}

.grid-item 
{
    
    padding: 6%;
   
    background-color: rgb(107, 255, 255);
    
}

.grid-item-1
{
    
    color: rgb(240 164 108);
    background-color:  rgb(240 164 108);
    grid-area: header;
}



.grid-item-2
{
    
    color: rgb(255 86 80);
    background-color: rgb(255 86 80);
    grid-area: body;
    
}


.grid-item-3
{
    color: rgb(110 215 187);
    background-color:  rgb(110 215 187);
    grid-area: footer;
   
}

.grid-item-4
{
    
    color: rgb(75 164 137);
    background-color:  rgb(75 164 137);
}

.grid-item-5
{
    
    color: rgb(91 190 162);
    background-color:  rgb(91 190 162);
}

.grid-item-6
{
    
    color: rgb(110 215 187);
    background-color:  rgb(110 215 187);
}

/* 
237 137 101

240 164 108

75 164 137

91 190 162

110 215 187


45 48 65*/

